{{!< default}}
{{! The tag above means - insert everything in this file into the {body} of the default.hbs template }}

{{! The main content area on the homepage }}
<main class="site-main" role="main">
	<div class="site-content inner-wide">
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Home Page Banner -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-8946773264106732"
			data-ad-slot="6838515607"
			data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		
		<br>
		
		{{! The tag below includes the post loop - partials/loop.hbs }}
		{{> "loop"}}
		
		<br>
		
		<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!-- Home Page Footer -->
		<ins class="adsbygoogle"
			style="display:block"
			data-ad-client="ca-pub-8946773264106732"
			data-ad-slot="6320041202"
			data-ad-format="auto"></ins>
		<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
		</script>
		
	</div><!-- .site-content -->
</main><!-- .site-main -->
