<div class="offsite-link-container">
    <div class="offsite-links">
        <a href="https://www.youtube.com/user/CLETech1" class="icon-youtube"><span class="screen-reader-text">YouTube</span></a>
        <a href="http://www.twitter.com/CLETech1" class="icon-twitter"><span class="screen-reader-text">Twitter</span></a>
        <a href="http://instagram.com/cletech" class="icon-instagram"><span class="screen-reader-text">Instagram</span></a>
        <a href="{{@blog.url}}/rss/" class="icon-feed"><span class="screen-reader-text">RSS</span></a>
    </div><!-- .offsite-links -->
</div>